<div id="container">
    <div ng2-carouselamos class="slides-wrapper"
        [items]="items"
        [width]="1000"
        [$prev]="prev"
        [$next]="next"
        [$item]="item">
    </div>
    <ng-template #prev >
        <i style="background: #f1f2f6; font-size: 250%; color: #2f3542;" class="fas fa-chevron-left" id="left"></i>
    </ng-template>

    <ng-template #next>
        <i style="background: #f1f2f6; font-size: 250%; color: #2f3542;" class="fas fa-chevron-right" id="right"></i>
    </ng-template>

    <ng-template #item let-item let-i="index">
        <div  class="items" style="text-align: center; margin: 10px; ">
           
            <a *ngIf="item.item.pet === true" target="_top" href="pet/{{item.item.cat_loai}}/{{item.item.id}}"  style="margin-bottom: 5px; font-size: 150%"> <img height="300px" src="{{item.item.image}}" style="border: 4px solid #f1c40f;">{{item.item.name}}</a>
            <a *ngIf="item.item.pet !== true" target="_top" href="items/{{item.item.id}}"  style="margin-bottom: 5px; font-size: 150%"> <img height="300px" src="{{item.item.image}}" style="border: 4px solid #f1c40f;">{{item.item.name}}</a>
        </div>
        
    </ng-template>

</div>