
<div class="main-card mb-3 card">
    <div class="card-body">
        <form class="">
            <select class="mb-2 form-control" (change)="addItem($event)" >     
                <option [ngValue]="null">Select Category</option>
                <option *ngFor="let cate of cates" [value]="cate.name" >{{cate.name}}</option>
            </select>
        </form>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">Active Users
                <div class="btn-actions-pane-right">
                    <div role="group" class="btn-group-sm btn-group">
                        <button class="active btn btn-focus">Last Week</button>
                        <button class="btn btn-focus">All Month</button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>Name</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor ="let item of items | filter: cat_loai ">
                        <td class="text-center text-muted">{{item.id}}</td>
                        <td>
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="widget-content-left">
                                            <img width="40" class="rounded-circle" [src]='item.image'>
                                        </div>
                                    </div>
                                    <div class="widget-content-left flex2">
                                        <div class="widget-heading">{{item.name}}</div>
                                        <div class="widget-subheading opacity-7">Web Developer</div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="text-center">${{item.price}}</td>
                        <td class="text-center">
                            <div class="badge badge-warning">{{item.age}}</div>
                        </td>
                        <td class="text-center">
                            <button (click)="edit(item)" type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Edit</button>
                            <button (click)="delete(item.id)"  style="margin-left: 4px; background: #f39c12; border: none;" type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Delete</button>
                        </td>
                    </tr>
                   
                    </tbody>
                </table>
            </div>
            <div class="d-block text-center card-footer">
                <button (click)="check()" class="btn-wide btn btn-success">Add</button>
            </div>
        </div>
    </div>
</div>


<form *ngIf="them == true" style="margin-bottom: 50px;" class="needs-validation" novalidate>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">Id</label>
                <input readonly [(ngModel)] = "id" [ngModelOptions]="{standalone: true}"   type="text" class="form-control" id="validationCustom03"  required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom01">Image</label>
                <label class="custom-file">
                     <img style="border: 10px solid #ecf0f1; border-radius: 50%;" *ngIf="imageSrc"  [(ngModel)] = "imageSrc" >
                    <input type="file" id="file" class="custom-file-input" (change)="handleInputChange($event)"> 
                    <span class="custom-file-control">Choose file</span>
                </label>   
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">name</label>
                <input  [(ngModel)] = "name" [ngModelOptions]="{standalone: true}"   type="text" class="form-control" id="validationCustom03"  required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">age</label>
                <input  [(ngModel)] = "age" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" id="validationCustom03" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">price</label>
                <input  [(ngModel)] = "price" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" id="validationCustom03"  required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">weight</label>
                <input  [(ngModel)] = "weight" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" id="validationCustom03"  required>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">sex</label>
                <select class="mb-2 form-control" (change)="gigido($event)" >     
                    <option [ngValue]="null">Select Sex</option>
                    <option  [value]="true" >Đực</option>
                    <option  [value]="false" >Cái</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">color</label>
                <input  [(ngModel)] = "color" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" id="validationCustom03"  required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">Loài</label>
                <select class="mb-2 form-control" (change)="addItem($event)" >     
                    <option [ngValue]="null">Select Category</option>
                    <option *ngFor="let cate of cates" [value]="cate.name" >{{cate.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">amounts</label>
                <input  [(ngModel)] = "amounts" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" id="validationCustom03"  required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">description</label>
                <input  [(ngModel)] = "description" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" id="validationCustom03"  required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">rate_tb</label>
                <input  [(ngModel)] = "rate_tb" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" id="validationCustom03"required>
            </div>
        </div>
        <button (click)="add()" class="btn btn-primary" type="submit">Add Item</button>
    </form> 

 


<form *ngIf="item" class="needs-validation"  style="margin-bottom: 50px;" novalidate>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationCustom03">Id</label>
            <input readonly [(ngModel)] = "item.id" [ngModelOptions]="{standalone: true}"   type="text" class="form-control" id="validationCustom03"  required>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationCustom01">Image</label>
            <label class="custom-file">
                    <!-- <label for="validationCustom03">name</label>
                    <input  [(ngModel)] = "item.image" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" id="validationCustom03"  required> -->
                <img style="border: 10px solid #ecf0f1; border-radius: 50%;"  [(ngModel)] = "image" >
                <input type="file" id="file" class="custom-file-input" (change)="handleInputChange($event)"> 
                <span class="custom-file-control">Choose file</span>
            </label>   
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationCustom03">name</label>
            <input  [(ngModel)] = "item.name" [ngModelOptions]="{standalone: true}"   type="text" class="form-control" id="validationCustom03"  required>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationCustom03">age</label>
            <input  [(ngModel)] = "item.age" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" id="validationCustom03" required>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationCustom03">price</label>
            <input  [(ngModel)] = "item.price" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" id="validationCustom03"  required>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationCustom03">weight</label>
            <input  [(ngModel)] = "item.weight" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" id="validationCustom03"  required>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationCustom03">color</label>
            <input  [(ngModel)] = "item.color" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" id="validationCustom03"  required>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationCustom03">amounts</label>
            <input  [(ngModel)] = "item.amounts" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" id="validationCustom03"  required>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationCustom03">Sex</label>
            <select class="mb-2 form-control" (change)="gigido($event)" >     
                <option [ngValue]="null">Select Sex</option>
                <option  [value]="true" >Đực</option>
                <option  [value]="false" >Cái</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationCustom03">description</label>
            <input  [(ngModel)] = "item.description" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" id="validationCustom03"  required>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationCustom03">rate_tb</label>
            <input  [(ngModel)] = "item.rate_tb" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" id="validationCustom03"required>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationCustom03">Loài</label>
            <select class="mb-2 form-control" (change)="editItem($event)" >     
                <option [ngValue]="null">Select Category</option>
                <option *ngFor="let cate of cates" [value]="cate.name" >{{cate.name}}</option>
            </select>
        </div>
    </div>
    <button (click)="update()" class="btn btn-primary" type="submit">Edit Item</button>
</form>