<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>All Accessories for you</h3>
                    <input style="background: none; color: #fff; border: 1px solid #f1c40f; width: 30%; padding: 10px;"  type="text" name="search" [(ngModel)]="term" placeholder="Search Accessories">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /bradcam_area  -->


<!-- recepie_area_start  -->
<div class="recepie_area plus_padding">
    <div class="container">
        <div class="row">
            <div  *ngFor="let item of list | filter:term | paginate: { itemsPerPage: 18, currentPage: p } " class="col-xl-4 col-lg-4 col-md-6">
                <div  class="single_recepie text-center">
                    <div class="recepie_thumb">
                        <!-- <img src="{{item.country}}" alt=""> -->
                        <img style="object-fit: cover;" [src]="item.image" alt="">
                    </div>
                    <h3>{{item.name}}</h3>
                    
                    <ng-template #popContent>
                        <img width="100px; padding: 50px; object-fit: cover;" [src]="item.image" alt="">
                        <div style="float: right;margin-left: 10px">
                            <p><b>Price:</b> ${{item.price}}</p>
                            <p><b>Status:</b> còn hàng</p>
                            <a href="#" class="line_btn">Hốt luôn</a>
                        </div>
                    </ng-template>
                    <ng-template #popTitle>{{item.name}}</ng-template>


                    <button style="color: #000; border :none " type="button"  placement="bottom"  [autoClose]="'outside'" class="btn btn-outline-secondary" [ngbPopover]="popContent" [popoverTitle]="popTitle">
                        <a class="line_btn">Xem nhanh</a>
                    </button>
                    <a target="_top" routerLink="{{item.id}}" class="line_btn">Chi tiết</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="margin-bottom: 100px; margin-top: -180px;" class="row">
    <div class="col-xl-12">
        <div class="bradcam_text text-center">
            <pagination-controls (pageChange)="p = $event" ></pagination-controls>
        </div>
    </div>
</div>

<!-- /recepie_area_start  -->

<app-footer></app-footer>