<!-- footer  -->
<footer style="height: 400px; " class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                <a href="about">About</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                               Shop
                            </h3>
                            <ul >
                                <li><a style="color: #fff;" href="pet">Pets</a></li>
                                <li><a  style="color: #fff;" href="item">Items</a></li>
                            </ul>

                        </div>
                    </div>
                   
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                <a href="contact">Contact</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Subscribe
                            </h3>
                            <i style="margin-right: 10px; font-size: 30px; color: #5352ed;" class="fab fa-facebook"></i>
                            <i style="font-size: 30px; color: #ff6348;" class="fab fa-youtube"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!--/ footer  -->