<!-- footer  -->
<footer style=" height: 500px; margin-top: -100px; background-color: #fff; background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/79fc9356731589.59ba0a2c785e6.png); background-size: cover; background-position: center;" class="footer">
    <div class="footer_top">
        <div class="container">
            <!-- Grid row-->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-12 py-5">
                    <div style="color: #fff; margin-top: -60px; margin-left: 40px;" class="mb-5 flex-center">
                    <!-- Facebook -->
                    <a href="https://www.facebook.com/myth1112" target="_blank" class="fb-ic"><i style="color: #fff;" class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
                    <!-- Twitter -->
                    <a class="tw-ic"><i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
                    <!-- Google +-->
                  
                    <a class="li-ic"><i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
                    <!--Instagram-->
                    <a class="ins-ic"><i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row-->
        </div>
    </div>
</footer>
<!--/ footer  -->