
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Accessories Details</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /bradcam_area  -->
    
    <div style=" margin-bottom: 10%;" class="recepie_details_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-md-6">
                    <div class="recepies_thumb">
                        <img src="{{list.image}}" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="recepies_info">
                        <h3 style="font-family: 'Quicksand', sans-serif;"> {{list.name}} </h3>
                        <div class="resepies_details">
                            <ul>
                                <ng-template #t let-fill="fill">
                                    <span style="position: relative;display: inline-block;font-size: 3rem;color: #d3d3d3;" [class.full]="fill === 100">
                                        <span style="position: absolute;display: inline-block;overflow: hidden;font-size: 3rem;color:#f1c40f;" [style.width.%]="fill">&#9733;</span>&#9733;
                                    </span>
                                    </ng-template>
                                    
                                    <ngb-rating rate="{{list.rate_tb}}" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                                    
                                    <!-- <hr> -->
                                <pre>Rate: <b>{{list.rate_tb}}</b></pre>
                                <li><p><strong>Price</strong> : ${{list.price}} </p></li>
                                <li><a name="" id="" class="btn btn-primary"  role="button" (click)="add(list.id)" style="padding: 10px 20px; color: #fff;">Add Cart</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="recepies_text">
                            <p>{{list.description}}</p>
    
                        <ngb-tabset [justify]="currentJustify">
                            <ngb-tab title="Thông tin chi tiết">
                                <ng-template ngbTabContent>
                                <p>Đéo có cc gì hết</p>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Bình luận">
                                <ng-template ngbTabContent>
                                    <p><strong>Rating</strong> :<ngb-rating [rate]="3"></ngb-rating>
                                    <input id="typeahead-basic" type="text" class="form-control"/>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Thông số kỹ thuật">
                                <ng-template ngbTabContent>
                                    <p>Đây là con chó</p>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
          
    
    <app-footer><app-footer>